<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <title>用户明细列表demo</title>
</head>
<body>
<div>
    <table>
        <legend>
            <strong>用户明细列表</strong>
        </legend>
        <thead>
        <tr>
            <th>用户ID</th>
            <th>用户名</th>
            <th>性别</th>
            <th>状态</th>
            <th>创建时间</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${userList}">
            <td th:text="${u.id}"></td>
            <td th:text="${u.userName}"></td>
            <td th:text="${u.gender}"></td>
            <td th:text="${u.status}"></td>
            <td th:text="${#dates.format(u.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
         </tr>
        </tbody>
    </table>
</div>
</body>
</html>